[Unit]
Description=Minecraft Server %i
After=network.target

[Service]
WorkingDirectory=/opt/minecraft/%i
Type=forking

PrivateUsers=true

# User Config
User=minecraf
Group=minecraft

# Security Options
ProtectSystem=full
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true

# Default Memory Values
Environment="MCMINMEM=2G" "MCMAXMEM=2G" "SHUTDOWN_DELAY=10" "POST_SHUTDOWN_DELAY=15"
EnvironmentFile=-/opt/minecraft/%i/server.conf

# Starting - Minecraft Server
ExecStart=/usr/bin/tmux -L %i new-session -c /opt/minecraft/%i/ -s %i -d '/bin/java -Xms${MCMINMEM} -Xmx${MCMAXMEM} -XX:+UseG1GC -XX:+ParallelRefProcEnabled -XX:MaxGCPauseMillis=200 -XX:+UnlockExperimentalVMOptions -XX:+DisableExplicitGC -XX:+AlwaysPreTouch -XX:G1NewSizePercent=40 -XX:G1MaxNewSizePercent=50 -XX:G1HeapRegionSize=16M -XX:G1ReservePercent=15 -XX:G1HeapWastePercent=5 -XX:G1MixedGCCountTarget=4 -XX:InitiatingHeapOccupancyPercent=15 -XX:G1MixedGCLiveThresholdPercent=90 -XX:G1RSetUpdatingPauseTimePercent=5 -XX:SurvivorRatio=32 -XX:+PerfDisableSharedMem -XX:MaxTenuringThreshold=1 -jar server.jar nogui'

# Logging
LogLevelMax=debug

# Stopping - Minecraft Server
ExecStop=/usr/bin/tmux \
         -L %i \
         send-keys \
         -t %i:0.0 'say Servidor Desligando. Salvando mapa...' Enter \
         'save-all' 
# Delay
ExecStop=/bin/sh -c '/bin/sleep ${SHUTDOWN_DELAY}'

# Stop command
ExecStop=/usr/bin/tmux \
         -L %i \
         send-keys \
         -t %i:0.0 'stop' Enter \

# Delay before kill the tmux session
ExecStop=/bin/sh -c '/bin/sleep ${POST_SHUTDOWN_DELAY}'

# Terminating the tmux session
ExecStop=/usr/bin/tmux \
         -L %i \
         kill-session \
         -t %i

Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
